<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container" ng-controller="todoList">
    <header>
      <h1>Todo List ([[incompleteCount()]])</h1>

      <label class="hide-completed">
        <input type="checkbox" ng-model="hideCompleted" />
        Hide Completed Tasks
      </label>

      {{> loginButtons}}

    <form class="new-task" ng-submit="addTask()" ng-if="loggedIn()">
      <input type="text" ng-model="model.newTodoText" placeholder="Type to add new tasks" />
    </form>

    </header>

    <ul>
        <li ng-class="{checked: (task.checked == true), private: (task.private)}" ng-repeat="task in filteredTasks()">
            <button class="delete" ng-click="deleteTask(task)">&times;</button>

            <input type="checkbox" ng-model="task.checked" class="toggle-checked" ng-change="toggleChecked(task)" />

            <button class="toggle-private" ng-if="isOwner(task)" ng-click="togglePrivate(task)">
              [[ privateStatus(task) ]]
            </button>
            <span class="text"><strong>[[task.username]]</strong> - [[task.text]]</span>
        </li>
    </ul>
  </div>
</body>
